.header{
	text-decoration-style: black;
    width:80%;
   background-color:#cff09e;
   float:left;
}
.sidebar{
	width:100%;
	float:right;
	text-align: center;
	background-color:#a8dba9;
}
.content{
	width:100%;
	text-align:center;
	background-color:#79bd9a;
	 
}
.footer{
		width:80%;
	text-align:center;
	background-color:#3b8686;
}
